<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Form Page</title>
    </head>
    <body>
        <div id="menu">
        <form method="POST" action="/ping">
            <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
			Hostname:<INPUT type="text" name="hostname"/>Port:<INPUT type="text" name="port"><br/><br/>
            <INPUT type="SUBMIT" value="Check"/>
        </form>
        </div>
		<ul>
		  <li>For icmp just leave port section blank</li>
		</ul>
	</body>
</html>
